/* app/components/Footer.module.css */
.footer {
    text-align: center; /* จัดให้อยู่ตรงกลาง */
    background-color: #2c3e50; /* สีพื้นหลัง */
    padding: 10px; /* ระยะห่างขอบ */
    bottom: 0;
    width: 100%;
    font-size: 16px; /* ตั้งค่าขนาดตัวอักษร */
    color: #ecf0f1; /* สีตัวอักษร */
    font-family: 'Arial', sans-serif; /* แบบอักษร */
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* เงา */
  }
  
  .footer a {
    color: #3498db; /* สีลิงก์ */
    text-decoration: none; /* ลบเส้นใต้ลิงก์ */
    transition: color 0.3s ease; /* การเปลี่ยนสีลิงก์เนื้อหา */
  }
  
  .footer a:hover {
    color: #2980b9; /* สีลิงก์เมื่อโฮเวอร์ */
  }
  